{% extends 'layouts/index/base.html' %} {% load static %} {% block content %}

<script>
    $(document).ready(function() {
        $('#tableuser').DataTable();
    });
</script>

<section class="is-FontColor01">
    <br><br>
    <div class="container-fluid is-Color01 is-TamanoContainer" style="border-radius: 20px;">
        <br>
        <h3 class="text-lg-center" style="color: #fff; font-weight:bolder;">Gestion de Usuarios.</h3>
        <br>
        <a href="{% url 'index:user_create' %}">
            <center>
                <button class="is-Button-CreChap">
                <span class="fa fa-gears"></span>  Crear Nuevo Usuario.
            </button>
            </center>
        </a>
        <br>
        <div class="container-fluid is-TamanoContainerIntInd">
            <center>
                <div class="table-responsive table-striped">
                    <table id="tableuser" class="is-tableNov">
                        <thead class="is-headerTableNov">

                            <tr class="is-table-TamanoH">
                                <th>Email de Usuario.</th>
                                <th>Rol de Usuario.</th>
                                <th>Acciones.</th>
                            </tr>
                        </thead>
                        <tbody class="is-Letra02">
                            {% for user in user_list %}
                            <tr>
                                <td>{{user.email}}</td>
                                <td>{{user.rol_user}}</td>
                                <td>
                                    <a href="{% url 'index:chapter_list' novel.pk %}">
                                        <button class="is-Button-View">
                                            <span class="fa fa-book"></span>
                                        </button>
                                    </a>
                                    <a href="{% url 'index:novel_update' novel.pk %}">
                                        <button class="is-Button-Mod">
                                            <span class="fa fa-gears"></span>
                                        </button>
                                    </a>
                                    <a href="{% url 'index:home' %}">
                                        <button class="is-Button-Elm">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </center>
            <br>
        </div>
    </div>
    <br><br>
</section>

{% endblock content %}