.is-alinea-buttons {
    text-align: center;
}

.is-FontColor01 {
    background-color: #c4e6ff;
}

.is-FontColor02 {
    background-color: #990000;
}

.is-FontCardXD {
    background-color: #dc143c85;
    color: #FFF;
}

.is-FontCard01XD {
    background-color: #35343485;
    color: #FFF;
}

.is-TamanoContainer {
    width: 60%;
    box-shadow: 0px 0px 8px #000;
}

.is-TamanoContainerInt {
    width: 70%;
}

.is-TamanoContainerCar {
    width: 70%;
    height: 450px;
}

.is-TamanoContainerCard {
    width: 250px;
    height: 334px;
}

.is-TamanoContainerIndex {
    width: 90%;
    box-shadow: 0px 0px 8px #000;
}

.is-TamanoContainerIntInd {
    width: 90%;
}

.is-TamanoContainerIntIntXD {
    width: 70%;
}

.is-TamanoContainerPlubi {
    width: 40%;
    border-radius: 10px;
    background-color: #fff;
}

.is-NavbarXD {
    color: #FFF!important;
    background-color: #990000;
    font-weight: bold;
}

.is-NavbarItemXD {
    color: #FFF!important;
    background-color: #990000;
    font-weight: normal;
}

.is-headerTableNov {
    color: #FFF!important;
    background-color: #557aa8;
    font-weight: bold;
    text-align: center;
    height: 40px;
    word-wrap: break-word;
}

.is-table-TamanoH {
    height: 30px;
    word-wrap: break-word;
}

table {
    table-layout: fixed;
    border-radius: 20px;
    width: 100%;
}

.is-Color01,
.is-hover-Color01:hover {
    color: #FFF!important;
    background-color: #DC143B!important
}

.is-Color02,
.is-hover-Color01:hover {
    color: #DC143B!important;
    background-color: #FFF!important
}

.is-letra-color {
    color: #FFF!important;
}

.is-letra-color01 {
    color: #990000!important;
}

.is-Letra02 {
    color: #FFF!important;
    text-align: center;
}

.is-Letra01,
.is-hover-Letra01:hover {
    font-weight: bold;
    color: #990000!important;
    background-color: #FFF!important
}

.is-Button-AceptarXD {
    width: auto;
    font-size: 1em;
    background-color: #7498c4;
    color: #fff;
    border: 3px solid #557aa8;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #000;
    outline: none;
    transition: background-color 1.8s, border-color 1.8s, color 1.8s, transform 1.8s;
    -web-kit-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
    -moz-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
    -o-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
}

.is-Button-AceptarXD:hover {
    background-color: #FFF;
    border-color: #557aa8;
    color: #000;
    cursor: pointer;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
}

.is-Button-CancelarXD {
    width: auto;
    font-size: 1em;
    background-color: #2874a6;
    color: #fff;
    border: 3px solid #1b4f72;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #000;
    outline: none;
    transition: background-color 1.8s, border-color 1.8s, color 1.8s, transform 1.8s;
    -web-kit-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
    -moz-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
    -o-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
}

.is-Button-CancelarXD:hover {
    background-color: #FFF;
    border-color: #1b4f72;
    color: #000;
    cursor: pointer;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
}

.is-Button-BorrarXD {
    width: auto;
    font-size: 1em;
    background-color: #212f3d;
    color: #fff;
    border: 3px solid #17202a;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #000;
    outline: none;
    transition: background-color 1.8s, border-color 1.8s, color 1.8s, transform 1.8s;
    -web-kit-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
    -moz-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
    -o-transition: background-color 1.8s, border-color 1.8s, color 1.8s;
}

.is-Button-BorrarXD:hover {
    background-color: #FFF;
    border-color: #17202a;
    color: #000;
    cursor: pointer;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
}

.is-Button-LeerXD {
    width: 100%;
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    border: 3px solid #636262;
    padding: 10px 15px;
    border-radius: 8px;
    outline: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.is-Button-LeerXD:hover {
    background-color: #FFF;
    border-color: #636262;
    color: #000;
    cursor: pointer;
}

.is-Button-View {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    width: 35px;
    height: 35px;
    border-radius: 4px;
}

.is-Button-View:hover {
    background-color: #FFCA28;
    border: 2px solid #EF6C00;
    color: #fff;
    cursor: pointer;
}

.is-Button-Mod {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    width: 35px;
    height: 35px;
    border-radius: 4px;
}

.is-Button-Mod:hover {
    background-color: #28a9ff;
    border: 2px solid #0030cf;
    color: #fff;
    cursor: pointer;
}

.is-Button-Elm {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    width: 35px;
    height: 35px;
    border-radius: 4px;
}

.is-Button-Elm:hover {
    background-color: #8c00ff;
    border: 2px solid #330091;
    color: #fff;
    cursor: pointer;
}

.is-Button-CreChap {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    width: 30%;
    height: 50px;
    border-radius: 5px;
}

.is-Button-CreChap:hover {
    background-color: #00b909;
    border: 2px solid #0b8100;
    color: #fff;
    cursor: pointer;
}

.is-Button-ViewNor {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    width: 30%;
    height: 50px;
    border-radius: 5px;
}

.is-Button-ViewNor:hover {
    background-color: #FFCA28;
    border: 2px solid #EF6C00;
    color: #fff;
    cursor: pointer;
}

.is-Button-ModNor {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    width: 30%;
    height: 50px;
    border-radius: 5px;
}

.is-Button-ModNor:hover {
    background-color: #28a9ff;
    border: 2px solid #0030cf;
    color: #fff;
    cursor: pointer;
}

.is-Button-Camb {
    background-color: #FFF;
    border: 2px solid #000;
    color: #000;
    width: 20%;
    height: 50px;
    border-radius: 5px;
}

.is-Button-Camb:hover {
    background-color: #dd1054;
    border: 2px solid #860016;
    color: #fff;
    cursor: pointer;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}