{% extends 'layouts/index/base.html' %} {% load static %} {% block content %}

<section class="is-FontColor01">
    <br><br>
    <div class="container-fluid is-Color01 is-TamanoContainer" style="border-radius: 20px;">
        <br>
        <h3 class="text-lg-center" style="color: #fff; font-weight:bolder;">{{title.name}}</h3>
        <br>
        <h6 class="text-lg-center" style="color: #fff;">
            {{title.description}}
        </h6>
        <br>
        <a href="{% url 'index:chapter_create' title.pk %}">
            <center>
                <button class="is-Button-CreChap">
                <span class="fa fa-gears"></span>  Crear Nuevo Capitulo.
            </button>
            </center>
        </a>
        <br>
        <div class="container-fluid is-TamanoContainerIntInd">
            <center>
                <div class="table-responsive table-striped">
                    <table class="is-tableNov">
                        <thead class="is-headerTableNov">

                            <tr class="is-table-TamanoH">
                                <th>Titulo.</th>
                                <th>Acciones.</th>
                            </tr>
                        </thead>
                        <tbody class="is-Letra02">
                            {% for chapter in list %}
                            <tr>
                                <td>{{chapter.name}}</td>
                                <td>
                                    <a href="{% url 'index:chapter_update' chapter.pk %}">
                                        <button class="is-Button-Mod">
                                            <span class="fa fa-gears"></span>
                                        </button>
                                    </a>
                                    <a href="{% url 'index:home' %}">
                                        <button class="is-Button-Elm">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </center>
            <br>
        </div>
    </div>
    <br><br>
</section>

{% endblock content %}