{% extends 'layouts/index/base.html' %} {% load static %} {% block content %}

<section class="is-FontColor01">
    <br><br>
    <div class="container-fluid is-Color01 is-TamanoContainer" style="border-radius: 20px;">
        <br>
        <div class="container-fluid is-TamanoContainerInt">
            <br>
            <img id="image_preview" style='width: 250px; height: 334px; 
                object-fit: contain; border-radius: 10px;' src="{{% static '/images/historiadefect.png' %}{image}}">
            <br>
            <h3 class="text-lg-center" style="color: #fff; font-weight:bolder;">Sucia y sus cosas</h3>
            <br><br>
            <h6 style="color: #fff; text-align: justify;">
                La película se inicia con los créditos finales de The Human Centipede (First Sequence). La cámara se aleja, para mostrar que la película está siendo reproducida en un ordenador portátil por un hombre en la cabina de vigilancia de un estacionamiento. Se
                trata de un hombre de nacionalidad británica llamado Martin que sufre de asma, sobrepeso, mediana edad, reducida estatura y una enfermedad mental. Al comienzo de la película se muestra como Martin va atrapando a sus víctimas. La primera
                de ellas es una pareja de adolescentes al cual observa desde una cámara de vigilancia donde trabaja. La segunda de las víctimas se trata de una persona que pretende alquilar un almacén a Martin, segundos después es atrapado y maniatado
                por Martin en el mismo almacén, donde también yacen sus otras víctimas.
            </h6>
            <br>
            <div class="container-fluid is-TamanoContainerInt is-alinea-buttons">
                <a href="{% url 'index:home' %}">
                    <input type="button" class="is-Button-Mod" value="Anterior">
                </a>
                <a href="{% url 'index:home' %}">
                    <input type="button" class="is-Button-Elm" value="Novela">
                </a>
                <a href="{% url 'index:home' %}">
                    <input type="button" class="is-Button-CreChap" value="Siguiente">
                </a>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
</section>

{% endblock content %}