{% load static %}
<footer>
    <section class="is-FontColor02">
        <br><br>
        <div class="container-fluid is-TamanoContainerInt" style="color: #fff">
            <h3 style="font-weight: bold;">Light Novel For You - Involucrados</h3>
            <p>A continuacion podras ver un resumen de aquellos involucrados en este proyecto, ademas de un enlace al perfil principal de sus redes sociales.</p>
            <center>
                <table class="is-TamanoContainerInt">
                    <tbody>
                        <tr>
                            <td>
                                <div class="card img-fluid" style="width:300px">
                                    <img class="card-img-top" src="{% static '/images/Chikara.png' %}" alt="Card image" style="width:100%">
                                    <div class="card-img-overlay is-FontCardXD" style="border-radius: 20px;">
                                        <h4 class="card-title">DanielChikara</h4>
                                        <p class="card-text">Programador encargado principalmente del backfront? Es toda la joda de como funciona esta mamada.</p>
                                        <a href="#" class="btn btn-primary"><i class="fab fa-facebook-square"></i>     Facebook</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="card img-fluid" style="width:300px">
                                    <img class="card-img-top" src="{% static '/images/IsseiXD.png' %}" alt="Card image" style="width:100%">
                                    <div class="card-img-overlay is-FontCardXD" style="border-radius: 20px;">
                                        <h4 class="card-title">IsseiXD</h4>
                                        <p class="card-text">Programador encargado principalmente del endfront? Ademas de ser al que se le "ocurrio" la idea de esta mamada.</p>
                                        <a href="#" class="btn btn-primary"><i class="fab fa-facebook-square"></i>     Facebook</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
        <br>
    </section>
</footer>