{% load static %}

<nav class="navbar navbar-expand-lg is-NavbarXD is-letra-color">
    <a class="navbar-brand" href="{% url 'index:home' %}">
        <img src="{% static '/images/Logoxd.png' %}" alt="logo" style="width:130px;">
    </a>
    <button class="navbar-toggler navbar-toggler-right is-letra-color" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
      <span class="navbar-toggler-icon is-letra-color"></span>
    </button>

    <div class="navbar-collapse collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link is-hover-Letra01 is-letra-color" href="#">¿Que es una Novela Ligera?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link is-hover-Letra01 is-letra-color" href="#">Noticias</a>
            </li>
        </ul>
        {%if user.is_active %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle is-hover-Letra01 is-letra-color" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-user"></i> {{user.email}}
                </a>
                <div class="dropdown-menu">
                    {% if user.personal_information %}
                    <a class="dropdown-item is-letra-color01" href="{% url 'index:userupdate' user.personal_information.pk %}">actualizar perfil</a>
                    <a class="dropdown-item is-letra-color01" href="{% url 'index:novel_list' %}">Mis Historias</a>
                    {%else%}
                    <a class="dropdown-item is-letra-color01" href="{% url 'index:user' %}">registrar </a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link is-hover-Letra01 is-letra-color" href="{% url 'index:logout' %}"><i class="fab fa-artstation"></i>   Cerrar Sesion</a>
            </li>

        </ul>
        {%else%}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link is-hover-Letra01 is-letra-color" href="{% url 'index:register' %}"><i class="fas fa-user"></i>   Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link is-hover-Letra01 is-letra-color" href="{% url 'index:login' %}"><i class="fab fa-artstation"></i>   Iniciar Sesion</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>