{% extends 'layouts/index/base.html' %} {% load static %} {% block content %}
<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">HABEAS DATA</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="false">&times;</span>
            </button>
            </div>
            <div class="modal-body;" style="padding: 15px;">
                Ley de Protección de Datos Personales: “La autorización suministrada en el presente formulario faculta a Deloitte para que dé a sus datos aquí recopilados el tratamiento señalado en la “Política de Privacidad para el Tratamiento de Datos Personales” de Deloitte, el cual incluye, entre otras, el envío de información promocional, así como la invitación a eventos. El titular de los datos podrá, en cualquier momento, solicitar que la información sea modificada, actualizada o retirada de las bases de datos de Deloitte.
            </div>
            <div class="modal-footer">
                <a href="" class="text-center"><button type="button" class="btn btn-default" data-dismiss="modal">RECHAZAR</button></a>
                <a onclick="formRegister()" class="text-center"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal"> ACEPTO TERMINOS Y CONDICIONES</button></a>
            </div>
        </div>
    </div>
</div>
<section class="is-FontColor01">
    <br><br>
    <div class="container-fluid is-Color01 is-TamanoContainer" style="border-radius: 20px;">
        <br>
        <h3 class="text-lg-center" style="color: #fff; font-weight:bolder;">Registro de Usuario.</h3>
        <br>
        <div class="container-fluid is-TamanoContainerInt">
            <form method="post" enctype="multipart/form-data" name="form_register">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <input type="email" class="form-control" placeholder="Correo" name="email" id="id_email" {% if form.email.value %} value="{{form.email.value}}" {% endif %} required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                {% if form.email.help_text %}
                <p class="help">{{ form.email.help_text|safe }}</p>
                {% endif %} {% if form.email.errors %}
                <ul class="errorlist">
                    {% for error in form.email.errors %}
                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password1" id="id_password1" {% if form.password1.value %} value="{{form.password1.value}}" {% endif %} required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                {% if form.password1.errors %}
                <ul class="errorlist">
                    {% for error in form.password1.errors %}
                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Confirmación de contraseña" name="password2" id="id_password2" {% if form.password2.value %} value="{{form.password2.value}}" {% endif %} required>
                    <div class="input-group-append ">
                        <div class="input-group-text ">
                            <span class="fas fa-lock "></span>
                        </div>
                    </div>
                </div>

                {% if form.password2.help_text %}
                <p class="help ">{{ form.password2.help_text|safe }}</p>
                {% endif %} {% if form.password2.erros %}
                <ul class="errorlist ">
                    {% for error in form.password2.errors %}
                    <li><strong class="text-danger ">{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>

                {% endif %}
        </div>
        <div class="container-fluid is-TamanoContainerInt is-alinea-buttons ">
            <button type="button" class="is-Button-AceptarXD" onclick="modalOption()">Regístrate</button>

            <a href="{% url 'index:home' %} ">
                <input type="button" class="is-Button-CancelarXD" value="Cancelar">
            </a>
            <button type="reset" class="is-Button-BorrarXD">Borrar</button>

        </div>

        </form>
        <br>
    </div>
    <br><br><br>
</section>
<script>
    function modalOption() {
        if ($('#id_email').val().length == 0) {
            alert("por favor escriba el email");
        } else if ($('#id_password1').val().length == 0) {
            alert("por favor escriba la contraseña")
        } else if ($('#id_password2').val().length == 0) {
            alert("por favor escribe la verificación de contraseña ")
        } else if ($('#id_password1').val() != $('#id_password2').val()) {
            alert("Las contraseñas deben coincidir")

        } else {
            console.log("me ejecuto pero no sirvo ");
            $("#myModal").modal('show');
        }
    }

    function formRegister() {
        document.form_register.submit()
    }
</script>


{% endblock content %}