{% extends 'layouts/index/base.html' %}
{% load static %}
{% block content %}

<body>

<div class="container-fluid p-3 my-3 bg-dark text-white mt-5 tamanocontainerpri redondeadoxd"></br>
    <center><h1>Registro.</h1></center><br>

    <div class="container bg-dark text-white mt-2" >
        
          <form action="index.php" method="post" name="index"> 
            <table class="table table-borderless text-white tamanoxdxd">
                <tr>
                  <div class="form-group">
                    <th>
                      <label for="name">Nombre de Usuario: </label>
                    </th>
                    <th>
                      <input type="name" class="form-control" placeholder="Nombre de Usuario" name="name">
                    </th>
                  </div>
                </tr>

                <tr>
                    <div class="form-group">
                      <th>
                        <label for="email">Correo Electronico: </label>
                      </th>
                      <th>
                        <input type="email" class="form-control" placeholder="Correo Electronico." name="email">
                      </th>
                    </div>
                  </tr>

                  <tr>
                    <div class="form-group">
                      <th>
                        <label for="gender">Genero: </label>
                      </th>
                      <th>
                        <input type="gender" class="form-control" placeholder="Genero." name="gender">
                      </th>
                    </div>
                  </tr>

                  <tr>
                    <div class="form-group">
                      <th>
                        <label for="password">Contraseña: </label>
                      </th>
                      <th>
                        <input type="password" class="form-control" placeholder="Contraseña." name="password">
                      </th>
                    </div>
                  </tr>
            
                <tr>
                  <th colspan="2">
                    <button class="btn colorbtn text-white" type="submit">Registrar</button>
                  </th>
                </tr>
        
            </table>
        </form>
      </div>
    </table>
</form>

</body>

</div>

{% endblock content %}