{% extends 'layouts/index/base.html' %} {% load static %} {% block content %}

<section class="is-FontColor01">
    <br><br><br>
    <div class="container-fluid is-Color01 is-TamanoContainer" style="border-radius: 20px;">
        <br>
        <h3 class="text-lg-center" style="color: #fff; font-weight:bolder;">Inicio de Sesion.</h3>
        <br>
        <div class="container-fluid is-TamanoContainerInt">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <input type="text" class="form-control" placeholder="Correo" name="username" id="id_username" value="{{form.username.value}}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                {% if form.username.help_text %}
                <p class="help">{{ form.username.help_text|safe }}</p>
                {% endif %} {% if form.username.errors %}
                <ul class="errorlist">
                    {% for error in form.username.errors %}
                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password" id="id_password" value="{{form.password.value}}" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                {% if form.password.help_text %}
                <p class="help">{{ form.password.help_text|safe }}
                    <p>
                        {% endif %} {% if form.password.errors %}
                        <ul class="errorlist">
                            {% for error in form.password.errors %}
                            <li><strong class="text-danger">{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        <br>
                        <div class="container-fluid is-TamanoContainerInt is-alinea-buttons">
                            <button type="submit" class="is-Button-AceptarXD">Iniciar Sesion</button>
                            <input type="button" class="is-Button-CancelarXD" value="Cancelar"><br><br>
                            <button type="reset" class="is-Button-BorrarXD">Borrar</button>
                        </div>

            </form>
            <p class="text-lg-center">
                <a href=" # "><u style="color: #fff;">¿Olvidaste tu contraseña? Haz click aquí.</u>
                </a>
            </p>
            <p class="text-lg-center">
                <a href="{% url 'index:register' %}" style="color: #fff;"><u>¿No tienes ninguna cuenta?
                     Registrate aquí.</u></a>
            </p>
        </div>
        <br>
    </div>
    <br>
</section>
{% endblock content %}